* {
    margin: 0;
}
.man {
    height: 50px;
    width: 50px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 12px;
    position: absolute;
}

.cont {
    height: 100px;
    width: 400px;
    border: 1px solid black;
    border-radius: 64px;
    background-color: #FDA5D4;
    position: relative;
    position: absolute;
    bottom: 0px;
    left: 600px;

    .keyu {
        height: 30px;
        width: 30px;
        background-color: yellow;
        position: absolute;
        left: 185px;
        top: 10px;
        border-radius: 12px;
        border: 1px solid black;
    }

    .keyr {
        height: 30px;
        width: 30px;
        background-color: tomato;
        position: absolute;
        top: 35px;
        right: 20px;
        border-radius: 12px;
        border: 1px solid black;
    }

    .keyd {
        height: 30px;
        width: 30px;
        background-color: tomato;
        position: absolute;
        left: 185px;
        bottom: 10px;
        border-radius: 12px;
        border: 1px solid black;
    }

    .keyl {
        height: 30px;
        width: 30px;
        background-color: grey;
        position: absolute;
        left: 20px;
        top: 35px;
        border-radius: 12px;
        border: 1px solid black;
    }
}